# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Project data (IMPORTANT)
input/*
output/*

# Keep the folders themselves
!input/.gitkeep
!output/.gitkeep

# Models
models/
*.safetensors
*.bin

# Logs
*.log